{% extends 'base.html' %}
{% block title %}Communication LTD | Dashboard{% endblock %}
{% block content %}
{% include "navbar.html" with sec_lvl=sec_lvl %}

<div class="container justify-content-center align-items-center">
  <div class="row">
      <div class="col-8">
    <div class="row d-flex justify-content-center mt-5" style="margin: 0 50px;">
<div>
</div>

  <div class="row d-flex justify-content-center align-items-center h-100">
    <div class="col col-xl-12">
      <div class="card d-flex align-items-center p-0" style="border-radius: 1rem;">
        <div class="col-md-6 col-lg-12 d-flex align-items-center">
            <div class="card-body p-6 p-lg-5 text-black" style="">
              <div class="d-flex align-items-center mb-3 pb-1">
                <i class="fas fa-cubes fa-2x me-3" style="color: #c0ba4b;"></i>
                <span class="h1 fw-bold mb-0">STRIDE Analysis</span>
              </div>
              <h5 class="fw-normal mb-6 pb-3" style="letter-spacing: 0px;">Potential Threats and Examples</h5>
              <table class="table" style="width: 100%;" >
                <thead>
                  <tr>
                    <th scope="col" style="width: 25%;">Type of Threat</th>
                    <th scope="col" style="width: 100%;">Examples</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Spoofing</td>
                    <td>
                      <ul>
  <li>An attacker creates a fake login page that looks identical to the real one, and sends emails to users asking them to log in. When users enter their credentials, the attacker captures them and uses them to log in to the real website as the victim.</li>
<li>Man-in-the-middle attacks, where the attacker intercepts communication between the user and the website.</li>
<li>Brute force attacks, where the attacker tries to guess the user's password by trying many different combinations.</li>
                      </ul>
                    </td>
                  </tr>
                  <tr>
                    <td>Tampering</td>
                    <td>
                      <ul>
<li>An attacker exploits a vulnerability in the website's code to insert malicious scripts that modify the data stored in the website's database (SQL injection attacks, where the attacker executes malicious code in the database,Cross-site scripting (XSS) attacks, where the attacker injects malicious code into the website) .</li>
                                                <li>An attacker gains access to the website's administrative panel and uses it to alter or delete customer records or orders.</li>
                                                <li>An attacker intercepts data being transmitted between the website and the user, and modifies it in transit to change the content displayed to the user.</li>


                        <tr>
    <td>Tampering</td>
    <td>
        <ul>
            <li>An attacker tampers with the website's configuration files or settings to change the behavior of the website.</li>
        </ul>
    </td>
</tr>
<tr>
    <td>Repudiation</td>
    <td>
        <ul>
 <li>An attacker deletes log files or alters their content to cover their tracks or to make it difficult to determine the extent of their actions.</li>
            <li>An attacker tampers with the website's auditing system to make it appear that certain actions did not take place.</li>
        </ul>
    </td>
</tr>
<tr>
    <td>Information Disclosure</td>
    <td>
        <ul>
<li>An attacker exploits a vulnerability in the website's code to gain access to sensitive information stored in the database(Data breaches).</li>
            <li>An attacker intercepts data being transmitted between the website and the user, and captures sensitive information such as login credentials or financial details.(Eavesdropping)</li>
            <li>An attacker gains access to the website's administrative panel and views or exports sensitive information such as customer records or order details.</li>
            <li>An attacker convinces an authorized user to reveal their login credentials or to grant the attacker access to sensitive information.</li>

        </ul>
    </td>
</tr>
<tr>
    <td>Denial of Service</td>
    <td>
        <ul>
<li>An attacker floods the website with traffic from multiple sources, overwhelming the website's servers and making it unavailable to its intended users. (DDoS) </li>
            <li>An attacker targets the website's servers or infrastructure with attacks such as DB floods, disrupting the website's ability to function.</li>
            <li>An attacker targets the website's domain name system (DNS) servers, preventing users from being able to resolve the website's address and access it.</li>
            <li>An attacker targets the website's hosting provider or network infrastructure, disrupting the website's ability to function.</li>
        </ul>
    </td>
</tr><tr>
    <td>Elevation of Privilege</td>
    <td>
       <ul>
  <li>An attacker gains access to the website's administrative panel and uses it to grant themselves higher privileges or access rights.</li>
</ul>
</td>
</tr>
</tbody>
</table>
</div>

</div>
</div>
</div>
</div>
</div>
</div>
<div class="col-4">
    <div class="container">

<div class="row d-flex justify-content-center mt-5" style="margin: 0 30px;">
    <div class="card border-primary mb-3 text-center ms-3 h-100 flex-fill" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Final project in computers security course {{ sec_lvl }}</h5>
            <p class="card-text">In this project we followed the official course requirements</p>
            <a class="btn btn-primary" href="#">Requirements doc</a>
        </div>
    </div>
    </div>
<div class="row d-flex justify-content-center mt-5" style="margin: 0 30px;">

    <div class="card border-secondary mb-3 text-center ms-3 h-100 flex-fill" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Github</h5>
            <p class="card-text">Feel free to take a look at the source code</p>
            <a class="btn btn-dark" href="https://github.com/yuvalnsn/Comunication_LTD">Github repo</a>
        </div>
    </div>
    </div>
    </div>


<div class="row d-flex justify-content-center mt-5" style="margin: 0 30px;">

    <div class="card text-center ms-3 h-100 flex-fill" style="width: 10rem;">
        <div class="card-header style="width: 10rem;">
            Contributors
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item"> Rotem Zaguri <a class="btn btn-dark ms-1" href="#">Git</a></li>
            <li class="list-group-item"> Yuval Neiman <a class="btn btn-dark ms-1" href="https://github.com/yuvalnsn">Git</a></li>
            <li class="list-group-item"> Omer Itah <a class="btn btn-dark ms-1" href="#">Git</a></li>
            <li class="list-group-item"> Daniel Aviv <a class="btn btn-dark ms-1" href="#">Git</a></li>
            <li class="list-group-item"> Eden Sheiko <a class="btn btn-dark ms-1" href="#">Git</a></li>
        </ul>
</div>
</div>


      </div>
      </div>




{% endblock %}

<script>
var myCollapse = document.getElementById('collapseExample');
var myCollapseBtn = document.getElementById()

</script>