{% extends 'base.html' %}
{% block title %}Communication LTD | Dashboard{% endblock %}
{% block content %}
{% include 'navbar.html' %}

<div class="row d-flex justify-content-center mt-5">

<div class="card border-primary mb-3 text-center ms-3" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Final project in computers security course</h5>
    <p class="card-text">In this project we followed the official course requirements</p>
    <a href="#" class="btn btn-primary">Requirements doc</a>
  </div>
</div>

<div class="card border-secondary mb-3 text-center ms-3" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Github</h5>
    <p class="card-text">Feel free to take a look at the source code</p>
    <a href="#" class="btn btn-dark">Github repo</a>
  </div>
</div>

    <div class="card text-center ms-3" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Some headline</h5>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>

</div>

    <div class="card text-center ms-3" style="width: 15rem;">
  <div class="card-header">
    Contributors
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"> Rotem Zaguri     <a href="#" class="btn btn-dark ms-1">Git</a></li>
    <li class="list-group-item"> Yuval Neiman     <a href="#" class="btn btn-dark ms-1">Git</a></li>
    <li class="list-group-item"> Omer Itah     <a href="#" class="btn btn-dark ms-1">Git</a></li>
    <li class="list-group-item"> Daniel Aviv     <a href="#" class="btn btn-dark ms-1">Git</a></li>
    <li class="list-group-item"> Eden Sheiko     <a href="#" class="btn btn-dark ms-1">Git</a></li>

  </ul>
</div>


    </div>
{% endblock %}