{% extends 'base.html' %}
{% block content %}

<div class="row d-flex text-center justify-content-center mt-5">
    <h1> Comunication LTD </h1>
<div class="card border-primary mb-3 text-center ms-3" style="width: 20rem;">

  <div class="card-body">
    <h5 class="card-title mb-2">Create new password</h5>
      <h6 class="card-title mb-2">Please insert the email you want to reset your password</h6>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
    <span class="input-group-text" id="email">Email</span>
  </div>

  <input type="text" class="form-control" id="usernameINPT" aria-describedby="basic-addon3">
</div>

  </div>

<a href="{% url 'interface:dashboard' %}" class="btn btn-primary  mb-3"> Send to email</a>
    <a href="{% url 'interface:login' %}" class="btn btn-secondary  mb-3"> Back to login</a>

</div>

</div>

    {% endblock %}