{% extends 'base.html' %}
{% block title %}Communication LTD | Log in{% endblock %}
{% block content %}
{% load static %}
{% if sec_lvl == 'high' %}
<section class="vh-100" id="background" style="background-color: #C6DEFF ;">
    <div class="container py-5 h-100 p-3">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-xl-10">
                <div class="card" style="border-radius: 1rem;">
                    <div class="row g-0">
                        <div class="col-md-6 col-lg-5 d-none d-md-block">
                            {% if sec_lvl == 'high' %}
                            <img alt="login form"
                                 class="img-fluid" src="https://img.freepik.com/free-vector/forgot-password-concept-illustration_114360-1123.jpg?w=826&t=st=1668170617~exp=1668171217~hmac=a660460f937f1cb226b858f29ab7ea588555e5a8fd8dbb798961d91664c43a72"
                                 style="border-radius: 1rem 0 0 1rem;"/>
                            {% endif %}
                        {% if sec_lvl == 'low' %}
                            <img alt="login form"
                                 class="img-fluid" src="https://i.imgur.com/wXcCzf4.png"
                                 style="border-radius: 1rem 0 0 1rem;"/>
                        {% endif %}
                       {% for message in messages %}
                                {% if message.tags == 'alert-danger' %}
                                <li class="alert alert-danger" role="alert" style="margin-left: 20px">{{ message }}</li>
                                {% elif message.tags == 'alert-warning' %}
                                <li class="alert alert-warning" role="alert" style="margin-left: 20px">{{ message }}</li>
                                {% elif message.tags == 'alert-success' %}
                                <li class="alert alert-success" role="alert" style="margin-left: 20px">{{ message }}</li>
                                {% else %}
                                <li class="alert alert-info" role="alert" style="margin-left: 20px">{{ message }}</li>
                                {% endif %}
                            {% endfor %}
                        </div>
                        <div class="col-md-6 col-lg-7 d-flex align-items-center">
                            <div class="card-body p-4 p-lg-5 text-black">
                                <div class="d-flex align-items-center mb-3 pb-1">
                                    <i class="fas fa-cubes fa-2x me-3" style="color: #4693fd;"></i>
                                        <a class="nav-link" href="#"> <i class="fas fa-lock"></i>
                                    <span class="h1 fw-bold">Communication LTD</span>
                                </div>

                                <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Sign into your
                                    account</h5>

                                <form method="post" id="myForm">
                                    {% csrf_token %}
                                    {% for field in form %}
                                    {{ field.label_tag }} {{ field }}
                                    {% endfor %}

                                    <br>
                                    <div class="d-grid gap-2">
                                        <button href="{% url 'interface:dashboard' %}" class="btn btn-primary btn-block mb-3 d-grid gap-2" id="loginButton" >Login</button>
                                    </div>
                                </form>

                                <a href="{% url 'interface:register' %}" class="btn btn-secondary btn-block d-grid gap-2">Sign up now</a>
                                <a href="{% url 'reset_password' %}" class="btn btn-link mb-1"> I Forgot my password</a>

                                <form action="{% url 'interface:login' %}" method="get">
                                    {% csrf_token %}
                                    {% if sec_lvl == 'high' %}
                                    <input type="submit" name="security_btn" class="btn btn-danger" value="Change to low security">
                                    {% else %}
                                    <input type="submit" name="security_btn" class="btn btn-success" value="Change to high security">
                                    {% endif %}
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% else %}
<section class="vh-100" id="background" style="background-color: #fdeaea ;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-xl-10">
                <div class="card" style="border-radius: 1rem;">
                    <div class="row g-0">
                        <div class="col-md-6 col-lg-5 d-none d-md-block">
                            {% if sec_lvl == 'high' %}
                            <img alt="login form"
                                 class="img-fluid" src="https://img.freepik.com/free-vector/forgot-password-concept-illustration_114360-1123.jpg?w=826&t=st=1668170617~exp=1668171217~hmac=a660460f937f1cb226b858f29ab7ea588555e5a8fd8dbb798961d91664c43a72"
                                 style="border-radius: 1rem 0 0 1rem;"/>
                            {% endif %}
                        {% if sec_lvl == 'low' %}
                            <img alt="login form"
                                 class="img-fluid" src="https://img.freepik.com/free-vector/hacker-breaking-lock-get-access-personal-information-computer-isometric_1284-63723.jpg?w=1060&t=st=1672943335~exp=1672943935~hmac=eb3a1e6388e411855adf9ef9b121d6b6915fb711baa0e174d7142ce14211472f"
                                 style="border-radius: 1rem 0 0 1rem;"/>
                        {% endif %}
                       {% for message in messages %}
                                {% if message.tags == 'alert-danger' %}
                                <li class="alert alert-danger" role="alert" style="margin-left: 20px">{{ message }}</li>
                                {% elif message.tags == 'alert-warning' %}
                                <li class="alert alert-warning" role="alert" style="margin-left: 20px">{{ message }}</li>
                                {% elif message.tags == 'alert-success' %}
                                <li class="alert alert-success" role="alert" style="margin-left: 20px">{{ message }}</li>
                                {% else %}
                                <li class="alert alert-info" role="alert" style="margin-left: 20px">{{ message }}</li>
                                {% endif %}
                            {% endfor %}
                        </div>
                        <div class="col-md-6 col-lg-7 d-flex align-items-center">
                            <div class="card-body p-4 p-lg-5 text-black">
                                <div class="d-flex align-items-center mb-3 pb-1">
                                    <i class="fas fa-cubes fa-2x me-3" style="color: #ff6219;"></i>
                                    <span class="h1 fw-bold">Communication LTD</span>
                                </div>

                                <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Sign into your
                                    account</h5>

                                <form method="post" id="myForm">
                                    {% csrf_token %}
                                    {% for field in form %}
                                    {{ field.label_tag }} {{ field }}
                                    {% endfor %}

                                    <br>
                                    <div class="d-grid gap-2">
                                        <button href="{% url 'interface:dashboard' %}" class="btn btn-primary btn-block mb-3 d-grid gap-2" id="loginButton" >Login</button>
                                    </div>
                                </form>

                                <a href="{% url 'interface:register' %}" class="btn btn-secondary btn-block d-grid gap-2">Sign up now</a>
                                <a href="{% url 'reset_password' %}" class="btn btn-link mb-1"> I Forgot my password</a>

                                <form action="{% url 'interface:login' %}" method="get">
                                    {% csrf_token %}
                                    {% if sec_lvl == 'high' %}
                                    <input type="submit" name="security_btn" class="btn btn-success" value="Change to high security">
                                    <i class="fas fa-lock"></i>
                                    {% else %}
                                    <input type="submit" name="security_btn" class="btn btn-success" value="Change to high security">
                                    <i class="fas fa-lock-open"></i>
                                    {% endif %}

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endif %}
{% endblock %}

