{% extends 'base.html' %}
{% block content %}
<section class="vh-100" style="background-color: #e5eaf5;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-xl-10">
                <div class="card" style="border-radius: 1rem;">
                    <div class="row g-0">
                        <div class="col-md-6 col-lg-5 d-none d-md-block">
                            <img alt="reset form"
                                 class="img-fluid" src='https://img.freepik.com/free-vector/cryptographic-officer-system-administrator-create-algorithm-code-key-owner-blockchain-cryptography-encryption-algorithm-concept_335657-1835.jpg?w=1800&t=st=1671968324~exp=1671968924~hmac=604d3c665ab09c49f9b0a5b24d2c82a8e48228629f6a083a3815bdc66b058675'
                                 style="border-radius: 1rem 0 0 1rem; max-width: 400px; max-height: 300px;"/>
                        </div>
                        <div class="col-md-6 col-lg-7 d-flex align-items-center">
                            <div class="card-body p-4 p-lg-5 text-black">
                                <div class="d-flex align-items-center mb-3 pb-1">
                                    <!-- company logo and name go here -->
                                </div>
                                <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Password reset</h5>
                                <form method="post">
                                    {% csrf_token %}
                                    {{form}}
                                    <div class="form-group mt-3">
                                        <input type="Submit" name="Send email"
                                               class="btn btn-primary btn-block mb-3 d-grid gap-2">
                                    </div>
                                </form>
                                <p>Forgotten your password? Enter your email address below, and we'll email instructions
                                    for setting a new one.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
