
{% extends 'base.html' %}
{% block content %}


<section class="vh-100" id="background2" style="background-color: #ddeafa;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-xl-10">
                <div class="card" style="border-radius: 1rem; border-color: #ffe2e2; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                    <div class="row g-0">
                        <div class="col-md-6 col-lg-5 d-none d-md-block">
                            <img alt="password reset sent"
                                 class="img-fluid" src="https://img.freepik.com/free-vector/password-reset-sent-illustration_114360-1414.jpg?w=826
            &t=st=1668170617~exp=1668171217~hmac=a660460f937f1cb226b858f29ab7ea588555e5a8fd8dbb798961d91664c43a72"
                                 style="border-radius: 1rem 0 0 1rem; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);"/>
                        </div>
                        <div class="col-md-6 col-lg-7 d-flex align-items-center">
                            <div class="card-body p-4 p-lg-5 text-black">
                                <div class="d-flex align-items-center mb-3 pb-1">
                                    <i class="fas fa-cubes fa-2x me-3" style="color: #C0BA4BFF;"></i>
                                    <span class="h1 fw-bold mb-0">Communication LTD</span>
                                </div>
                                <h5 class="fw-normal mb-6 pb-3" style="letter-spacing: 0px;">Password reset sent</h5>
                                <p>We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.</p>
                                <p>If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock %}

