{% extends 'base.html' %}
{% block title %}Communication LTD | Register {% endblock %}
{% block content %}

<div class="row d-flex text-center justify-content-center mt-5">
    <h1> Comunication LTD </h1>
<div class="card border-primary mb-3 text-center " style="width: 20rem;height: 30rem">
 {% include 'messages.html' %}
  <div class="card-body text-center ">
    <h3 class="card-title mb-2">Register</h3>
<div class="input-group mb-3 d-flex text-center justify-content-center">
  <div class="input-group-prepend">
  </div>
<form method="post">
        {% csrf_token %}
            {% for field in form %}
                        {{ field.label_tag }} {{ field }}
                        {% for error in field.errors %}
                            <div class="alert alert-danger">
                                <strong>{{ error|escape }}</strong>
                            </div>
                        {% endfor %}
                    {% endfor %}
        <button href="{% url 'interface:dashboard' %}" class="btn btn-primary mb-2 mt-2"> Create user</button>

    </form>
            <a href="{% url 'interface:login' %}" class="btn btn-primary mb-2 mt-2"> Back to login</a>

</div>
</div>
</div>
</div>


{% endblock %}
